<div class="col-md-12"> 
  <div class="form-group">
    <div class="col-md-2 sidebar">

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="col-md-12 customer">
        <h1>Nuevo  Registro</h1>
        <%= render 'form' %>

      </div>
    </div>
  </div>
</div>
